body {
  background-color: beige;
}

.container {
  width: auto;
}

.jumbotron {
  color:rgb(39, 67, 226);
  background-color: rgba(196, 196, 196, 0.404);
  font: bold;
  text-align: center;
}

.container p  {
  float: right;
}

img {
  width: 50%;
  height: 50%;
  float: left;
}

.box {
  float: right;
  text-align: center;
  width: 50%;
  padding: 20px;
  border: solid rgb(2, 0, 107);
  border-width: 20px;
  background-color: beige;
  display: block;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.highlight {
  font-style: italic;
}

.align {
  float: left;
  text-align: center;
  width: 80%;
  padding: 40px;
  border: solid rgb(212, 212, 212);
  border-width: 10px;
  background-color: rgb(200, 225, 248);
  display: block;
  margin: 180px;
  margin-top: 10px;
  margin-bottom: 10px;
  box-sizing: border-box;
}
