body {
  background-color: beige;
}
.container {
  width: auto;
}

.jumbotron {
  color:rgb(58, 233, 87);
  background-color: beige;
  font: bold;
  text-align: center;
}

.container p  {
  float: right;
}

img {
  width: 50%;
  height: 50%;
  float: left;
}

